{% extends 'basefiles/base.html' %}
{% load static %}
{% block content %}




<section class="intro-text header-intro">
    <div class="flex">
      <div class="left">
        <p>
          <strong>Earn</strong> as much as <strong> &dollar;1,200 </strong> in crypto bonuses as you complete tasks.
        </p>
      </div>
    <div class="right">
    <div class="img-container">
    <img src="{% static 'images/two-right-phones.png' %} ">
    </div>
    </div>
  </div>
 </section>

</div>
<!-- site main body -->
<main class="site-body earn-main">
   <!-- earn page division line -->
<div class="division-line"></div>
 <section class="section-2 earn-deposits">
    <!-- round corner button -->
    <span class="round-corner-btn left"></span>
    <div class="deposit-cards-wrapper">
    <div class="deposit-card-container">
        <div class="deposit-card">
         <p>
          Earn &dollar; 200 Bonus for deposits of &dollar;25,000 in contract trading.
         </p>
        </div>
    </div>
    <div class="deposit-card-container">
        <div class="deposit-card">
         <p>
          Recieve 2000 HuluoEx coin token for deposits of &dollar; 5000 minimum.
         </p>
        </div>
    </div>
    <div class="deposit-card-container">
        <div class="deposit-card">
         <p>
          Buy 100,000 HuloEx token for a prelaunch price at &dollar; 2,000 at 0.02 per coin.
         </p>
        </div>
    </div>
    <div class="deposit-card-container">
        <div class="deposit-card">
         <p>
          HuloEx will be valued at &dollar; 0.025
         </p>
        </div>
    </div>
    </div>
    <!-- round corner button -->
    <span class="round-corner-btn right"></span>
 </section>

 <section>
   <div class="user-tasks earn-page">
    <div class="flex">
      <div class="box-container">
        <h2 class="box-header">
          <p><span class="bullet-num">1.</span> Register an account</p>
        </h2>
        <div class="img-container">
        <img src="{% static 'images/register-account.png' %} ">
        </div>
      </div>
      <div class="box-container">
        <h2 class="box-header">
          <p><span class="bullet-num">2.</span> Complete the task you choose</p>
        </h2>
        <div class="img-container">
        <img src="{% static 'images/register-account.png' %} ">
        </div>
      </div>
      <div class="box-container">
        <h2 class="box-header">
          <p><span class="bullet-num">3.</span> Earn HuloEx Rewards</p>
        </h2>
        <div class="img-container">
        <img src="{% static 'images/earn-in-huloex.png' %} ">
        </div>
      </div>
    </div>
   </div>
 </section>

<section class="deposit-section earn-page">
    <div class="flex">
      <div class="left">
        <h3>First Deposit</h3>
        <p>
          The first deposit to the contract trading<br> account will get a coupon valued at 10% <br>of the Deposited amount
        </p>
      </div>
     <div class="image right">
        <div class="img-container">
            <img src="{% static 'images/android-right-img.png' %} " alt="phone icon"/>
        </div>
     </div>
        
    </div>
</section>

<section class="refer-section">
  <div class="flex-wrapper">
    <div class="left">
      <div class="img-container">
        <img src="{% static 'images/refer-img.png' %} " alt="refer">
      </div>
    </div>
    <div class="right">
      <h4>Refer a friend</h4>
      <p>Refer your friend to HuloEx and you both
        will earn &dollar; 10 each on their first deposit.
      </p>
    </div>
  </div>
</section>

<section>
  <div class="earn-page smart-contract">
    <div class="box-container">
      <div class="box-header">
        <div class="img-container">
          <img src="{% static 'images/liquidity-farming.png' %} ">
        </div>
      </div>
     <div class="bottom">
      <div class="box-body">
        <h2>Liquidity Farming</h2>
        <p>Add Liquidity to the HuloEx token and earn double</p>
      </div>
      <div class="box-footer">
         <a href="./signup.html" class="cta-btn"> farm </a>
      </div>
    </div>
    </div>

    <!-- second box -->
    <div class="box-container">
      <div class="box-header">
        <div class="img-container">
           <img src="{% static 'images/crypto-pool.png' %} ">
        </div>
      </div>
     <div class="bottom">
      <div class="box-body">
        <h2>HuloEx Pool </h2>
        <p>Connect to the pool to mine excellent rewards</p>
      </div>
      <div class="box-footer">
         <a href="./signup.html" class="cta-btn">  swim </a>
      </div>
    </div>
    </div>

    <!-- third box -->
    <div class="box-container">
      <div class="box-header">
        <div class="img-container">
         <img src="{% static 'images/huloex-saving.png' %} "> 
        </div>
      </div>
     <div class="bottom">
      <div class="box-body">
        <h2>HuloEx Savings</h2>
        <p>Special crypto savings account for you</p>
      </div>
      <div class="box-footer">
         <a href="./signup.html" class="cta-btn"> save </a>
      </div>
    </div>
    </div>

    <!-- fourth box -->
    <div class="box-container">
      <div class="box-header">
        <div class="img-container">
          <img src="{% static 'images/huloex-staking.png' %} ">
        </div>
      </div>
     <div class="bottom">
      <div class="box-body">
        <h2>HuloEx Stake</h2>
        <p>Simple staking <br>
        Better returns</p>
      </div>
      <div class="box-footer">
         <a href="./signup.html" class="cta-btn"> stake </a>
      </div>
    </div>
    </div>
  </div>
</section>
</main>






{% endblock content %}