{% extends 'basefiles/users_base.html' %}{% load static %}

{% block active_nav %}
<section class="sidebar">
    <div class="middle">
       <ul class="sidebar-middle">
        <li class="sidebar-row">
            <a class="active-dashboard"href="/user/">
             <div class="img-container">
             <img src="{% static 'images/dashboard-icon3.svg' %}" alt="dashboard icon"> 
             </div> 
             <h3>dashboard</h3> 
            </a>
        </li>
        <li class="sidebar-row dropdown-li">
            <a href="#">
             <div class="img-container">
             <img src="{% static 'images/trade-icon.svg' %}" alt="trade icon"> 
             </div> 
             <h3>trade</h3> 
            </a>
            <ul class="dropdown-ul">
            <li class="sidebar-row">
            <a href="/user/spotTrading">
             <h3>spot trading</h3> 
            </a>
           </li>
           <li class="sidebar-row">
            <a href="/user/contractTrading">
             <h3>contract trading</h3> 
            </a>
          </li>
      </ul>
     </li>
     <li class="sidebar-row">
            <a href="#">
             <div class="img-container">
             <img src="{% static 'images/exchange-icon.svg' %}" alt="exchange icon"> 
             </div> 
             <h3>exchange</h3> 
            </a>
        </li>
       <li class="sidebar-row">
            <a href="/user/mywallet">
             <div class="img-container">
             <img src="{% static 'images/wallet-icon.svg' %}" alt="wallet icon"> 
             </div> 
             <h3>my wallet</h3> 
            </a>
        </li>

    </ul> 
    </div>

    <div class="bottom">
      <ul class="sidebar-bottom">
        <li class="sidebar-row">
            <a href="#">
             <div class="img-container">
             <img src="{% static 'images/get-help-icon.svg' %}" alt="get help icon"> 
             </div> 
             <h3>get help</h3> 
            </a>
        </li>
        <li class="sidebar-row dropdown-li">
            <a href="#">
             <div class="img-container">
             <img src="{% static 'images/setting-icon2.svg' %}" alt="setting icon"> 
             </div> 
             <h3>settings</h3> 
            </a>
            <ul class="dropdown-ul">
             <li class="sidebar-row">
            <a href="/user/general">
             <!-- <div class="img-container">
             <img src="{% static '' %}images"> 
             </div>  -->
             <h3>general</h3> 
            </a>
         </li>
         <li class="sidebar-row">
            <a href="/user/security">
             <!-- <div class="img-container">
             <img src="{% static '' %}images"> 
             </div> --> 
             <h3>security</h3> 
            </a>
        </li>
        <li class="sidebar-row">
            <a href="/user/verification">
             <!-- <div class="img-container">
             <img src="{% static '' %}images"> 
             </div>  -->
             <h3>verification</h3> 
            </a>
        </li>

       </ul>
     </li>
   </ul>
 </div>
</section>         
{% endblock active_nav %}

{% block content %}
   

    <main class="main dashboard-main">
      <section class="close">

      </section>

        <div class="user-details">
            <dl class="left">
                <div class="data-row">
                    <dt>user id:</dt>
                    <dd>{{ profile.id }}</dd>
                </div>
                <div class="data-row">
                    <dt>email:</dt>
                    <dd>{{ user.email }}</dd>
                </div>
                <div class="data-row">
                    <dt>kyc:</dt>
                    {% if kyc_verified %}<dd class="verified">verified</dd>{% else %}<dd class="verified" style="background_color:rgb(169 59 59 / 27%);color:#a90000;">unverified</dd>{% endif %}
                    
                </div>
            </dl>
            <div class="right">
                <div class="box box-1">
                    <h3>native token earn</h3>
                    <p>000.73</p>
                </div>
                <div class="box box-2">
                    <h3>credibility score</h3>
                </div>
            </div>
        </div>
        
        <!-- ===============END OF USER DETAILS================== -->

        <div class="dashboard-panel">
            <div class="panel-header-wrapper">
            <div class="panel-header">
             <h3>overview</h3>
             <h3>spot trading</h3>
             <h3>contract trading</h3>
            </div>
           </div>
            <div class="panel-body">
                <div class="left">
                </div>
                <div class="right">
                    <h3>my icons</h3>
                    <div class="coins">
                        <figure class="coin-row">
                           <div class="left">
                            <div class="img-container">
                                <img src="{% static 'images/dodge-coin-icon.svg' %}" alt="dodge coin">
                            </div>
                            <div class="caption">
                             <h4>DODGE <span class="muted-text"> DGE</span></h4>
                             <p>
                            <span class="green-percent">+2.1%</span> <span> Today</span></p>
                           </div>
                           </div>
                           <div class="right">
                            <h4>4,565.80</h4>
                            <p class="green-percent">+&dollar;300</p>
                           </div>
                        </figure>

                        <!-- second row -->
                        <figure class="coin-row">
                           <div class="left">
                            <div class="img-container">
                                <img src="{% static 'images/dodge-coin-icon.svg' %}" alt="dodge coin">
                            </div>
                            <div class="caption">
                             <h4>DODGE <span class="muted-text"> DGE</span></h4>
                             <p>
                            <span class="green-percent">+2.1%</span> <span> Today</span></p>
                           </div>
                           </div>
                           <div class="right">
                            <h4>4,565.80</h4>
                            <p class="green-percent">+&dollar;300</p>
                           </div>
                        </figure>

                        <!-- third row -->
                        <figure class="coin-row">
                           <div class="left">
                            <div class="img-container">
                                <img src="{% static 'images/bitcoin-icon.svg' %}" alt="dodge coin">
                            </div>
                            <div class="caption">
                             <h4>BITCOIN <span class="muted-text"> BTC</span></h4>
                             <p>
                            <span class="green-percent">+2.1%</span> <span> Today</span></p>
                           </div>
                           </div>
                           <div class="right">
                            <h4>4,565.80</h4>
                            <p class="green-percent">+&dollar;300</p>
                           </div>
                        </figure>

                        <!-- fourth row -->
                        <figure class="coin-row">
                           <div class="left">
                            <div class="img-container">
                                <img src="{% static 'images/dodge-coin-icon.svg' %}" alt="dodge coin">
                            </div>
                            <div class="caption">
                             <h4>DODGE <span class="muted-text"> DGE</span></h4>
                             <p>
                            <span class="green-percent">+2.1%</span> <span> Today</span></p>
                           </div>
                           </div>
                           <div class="right">
                            <h4>4,565.80</h4>
                            <p class="green-percent">+&dollar;300</p>
                           </div>
                        </figure>

                        <!-- fifth row -->
                        <figure class="coin-row">
                           <div class="left">
                            <div class="img-container">
                                <img src="{% static 'images/dodge-coin-icon.svg' %}" alt="dodge coin">
                            </div>
                            <div class="caption">
                             <h4>DODGE <span class="muted-text"> DGE</span></h4>
                             <p>
                            <span class="green-percent">+2.1%</span> <span> Today</span></p>
                           </div>
                           </div>
                           <div class="right">
                            <h4>4,565.80</h4>
                            <p class="green-percent">+&dollar;300</p>
                           </div>
                        </figure>

                        <!-- sixth row -->
                        <figure class="coin-row">
                           <div class="left">
                            <div class="img-container">
                                <img src="{% static 'images/dodge-coin-icon.svg' %}" alt="dodge coin">
                            </div>
                            <div class="caption">
                             <h4>DODGE <span class="muted-text"> DGE</span></h4>
                             <p>
                            <span class="green-percent">+2.1%</span> <span> Today</span></p>
                           </div>
                           </div>
                           <div class="right">
                            <h4>4,565.80</h4>
                            <p class="green-percent">+&dollar;300</p>
                           </div>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- ==============END OF MAIN============== -->

 </div>
 <!-- =============END OF GRID CONTAINER -->
  
     <div class="grid-bottom">
        <section class="transaction-section">
            <h2>transactions</h2>
            <div class="transaction-menu-header">
                <div class="menu-container">
                    <label for="type">Type</label>
                    <div class="select-field">
                        <select id="type">
                            <option value="1"></option>
                            <option value="2" selected>All Transactions</option>
                        </select>
                    </div>
                </div>
                <div class="menu-container">
                    <label for="type">Coin</label>
                    <div class="select-field">
                        <select id="type">
                            <option value="1"></option>
                            <option value="2" selected>All Coins</option>
                        </select>
                    </div>
                </div>
                <div class="menu-container">
                    <label for="type">Date</label>
                    <div class="select-field">
                        <select id="type">
                            <option value="1"></option>
                            <option value="2" selected>Past 30 Days</option>
                        </select>
                    </div>
                </div>
                <div class="menu-container">
                    <label for="type">Status</label>
                    <div class="select-field">
                        <select id="type">
                            <option value="1"></option>
                            <option value="2" selected>All</option>
                        </select>
                    </div>
                </div>
            </div>

      <div class="transaction-menu-body">
        <div class="trade-chart">
       <table class="tabular-data">
       <thead>
        <tr class="trade-data-row">
          <th class="table-head">ID</th>
          <th class="table-head">coin</th>
          <th class="table-head">amount</th>
          <th class="table-head">date</th>
          <th class="table-head">wallet</th>
          <th class="table-head">status</th>
        </tr>
      </thead>
      <tbody>
        <!-- first row -->
        <tr class="trade-data-row">
          <td class="table-data">
            536
          </td>
          <td class="table-data">
            5/27/25
          </td>
          <td class="table-data">
            &dollar;601.13
          </td>
          <td class="table-data">
            5/27/15
          </td>
          <td class="table-data">
            5/27/15
          </td>
          <td class="table-data">
            <span class="pending">pending</span>
          </td>
        </tr>

        <!-- second row -->
        <tr class="trade-data-row">
          <td class="table-data">
            536
          </td>
          <td class="table-data">
            5/27/25
          </td>
          <td class="table-data">
            &dollar;601.13
          </td>
          <td class="table-data">
            5/27/15
          </td>
          <td class="table-data">
            5/27/15
          </td>
          <td class="table-data">
            <span class="confirmed">confirmed</span>
          </td>
        </tr>

        <!-- third row -->
        <tr class="trade-data-row">
          <td class="table-data">
            536
          </td>
          <td class="table-data">
            5/27/25
          </td>
          <td class="table-data">
            &dollar;601.13
          </td>
          <td class="table-data">
            5/27/15
          </td>
          <td class="table-data">
            5/27/15
          </td>
          <td class="table-data">
            <span class="confirmed">confirmed</span>
          </td>
        </tr>


        <!--fourth row -->
        <tr class="trade-data-row">
          <td class="table-data">
            536
          </td>
          <td class="table-data">
            5/27/25
          </td>
          <td class="table-data">
            &dollar;601.13
          </td>
          <td class="table-data">
            5/27/15
          </td>
          <td class="table-data">
            5/27/15
          </td>
          <td class="table-data">
            <span class="confirmed">confirmed</span>
          </td>
        </tr>


        <!-- fifth row -->
      </tbody>
    </table>
      </div>
      </div>
    </section>
    <!-- END OF TRANSACTION SECTION -->

    <section class="dashboard-tradeview-section">
      <!-- This should be empty for now -->
    </section>

    <section class="affliates-section">
      <div class="affliate-header">
        <h3>Affliates</h3>
      </div>
      <div class="affliate-body">
        <div class="card-container">
          <div class="card">
            <div class="content-wrapper">
              <div class="img-container">
                <img src="{% static 'images/affliate-user-icon.svg' %}" alt="friends invited">
                <span>Friends Invited</span>
              </div>
            </div>
            <p class="updated-number">{{ profile.referral_people }}</p>
          </div>
          <div class="card">
            <div class="content-wrapper">
              <div class="img-container">
                <img src="{% static 'images/affliate-coin-icon.svg' %}" alt="coins">
                <span>Bonus Earned</span>
              </div>
            </div>
            <p class="updated-number">{{ profile.referral_price }}</p>
          </div>
          <div class="card">
            <div class="content-wrapper">
              <div class="img-container">
                <img src="{% static 'images/affliate-copy-icon.svg' %}" alt="copy">
                <span>Referral Code</span>
              </div>
            </div>
            <p class="updated-number">{{ profile.user.username }}</p>
          </div>
        </div>
      </div>
      <div class="affliate-footer-top">
        <div class="left">
          <h4>Refferal Link</h4>
          <a href="#" title="copy link">HuloEx.com/0033j</a>
        </div>
        <div class="right">
         <button id="copy-btn">Copy to Clipboard</button>
        </div>
      </div>
      <hr>
      <div class="affliate-footer-bottom">
        <div class="left">
          <h4>Withdrawal Limit</h4>
          <span>0.0001/</span>
        </div>
        <div class="right">
         <button id="increment-btn">Increase Limit</button>
        </div>
      </div>
      <div class="bottom-cards">
        <figure>
          <div class="img-container">
            <img src="{% static '' %} images/login-box-icon.svg" alt="login">
          </div>
          <figcaption>
            <p>Login History</p>
            <small>Changed 5 Months Ago</small>
          </figcaption>
        </figure>
        <figure>
          <div class="img-container">
            <img src="{% static 'images/locked-password-icon.svg' %}" alt="password">
          </div>
          <figcaption>
            <p>Passdword</p>
            <small>Changed 5 Months Ago</small>
          </figcaption>
        </figure>
        <figure>
          <div class="img-container">
            <img src="{% static 'images/chain-password-icon.svg' %}" alt="confirmation">
          </div>
          <figcaption>
            <p>Confirmation Code</p>
            <small>sent</small>
          </figcaption>
        </figure>
        <figure>
          <div class="img-container">
            <img src="{% static 'images/google-icon.svg' %}" alt="google">
          </div>
          <figcaption>
            <p>Google</p>
            <small>Authentication</small>
          </figcaption>
        </figure>
        <figure>
          <div class="img-container">
            <img src="{% static 'images/verified-user-icon.svg' %}" alt="verification icon">
          </div>
          <figcaption>
            <p>Verification</p>
            <small>Verified</small>
          </figcaption>
        </figure>
        <figure>
          <div class="img-container">
            <img src="{% static 'images/setting-icon2.svg' %}" alt="setting">
          </div>
          <figcaption>
            <p>Settings</p>
          </figcaption>
        </figure>
      </div>
    </section>
    </div>

</div>

    



{% endblock content %}