{% extends 'basefiles/users_base.html' %}{% load static %}

{% block active_nav %}
<section class="sidebar">
    <div class="middle">
       <ul class="sidebar-middle">
        <li class="sidebar-row">
            <a href="/user/">
             <div class="img-container">
             <img src="{% static 'images/dashboard-icon3.svg' %}" alt="dashboard icon"> 
             </div> 
             <h3>dashboard</h3> 
            </a>
        </li>
        <li class="sidebar-row dropdown-li">
            <a href="#">
             <div class="img-container">
             <img src="{% static 'images/trade-icon.svg' %}" alt="trade icon"> 
             </div> 
             <h3>trade</h3> 
            </a>
            <ul class="dropdown-ul">
            <li class="sidebar-row">
            <a href="/user/spotTrading">
             <h3>spot trading</h3> 
            </a>
           </li>
           <li class="sidebar-row">
            <a  href="/user/contractTrading">
             <h3>contract trading</h3> 
            </a>
          </li>
      </ul>
     </li>
     <li class="sidebar-row">
            <a href="#">
             <div class="img-container">
             <img src="{% static 'images/exchange-icon.svg' %}" alt="exchange icon"> 
             </div> 
             <h3>exchange</h3> 
            </a>
        </li>
       <li class="sidebar-row">
            <a href="/user/mywallet">
             <div class="img-container">
             <img src="{% static 'images/wallet-icon.svg' %}" alt="wallet icon"> 
             </div> 
             <h3>my wallet</h3> 
            </a>
        </li>

    </ul> 
    </div>

    <div class="bottom">
      <ul class="sidebar-bottom">
        <li class="sidebar-row">
            <a href="#">
             <div class="img-container">
             <img src="{% static 'images/get-help-icon.svg' %}" alt="get help icon"> 
             </div> 
             <h3>get help</h3> 
            </a>
        </li>
        <li class="sidebar-row dropdown-li">
            <a href="#">
             <div class="img-container">
             <img src="{% static 'images/setting-icon2.svg' %}" alt="setting icon"> 
             </div> 
             <h3>settings</h3> 
            </a>
            <ul class="dropdown-ul">
             <li class="sidebar-row">
            <a class="active-dashboard" href="/user/general">
             <!-- <div class="img-container">
             <img src="{% static '' %}images"> 
             </div>  -->
             <h3>general</h3> 
            </a>
         </li>
         <li class="sidebar-row">
            <a href="/user/security">
             <!-- <div class="img-container">
             <img src="{% static '' %}images"> 
             </div> --> 
             <h3>security</h3> 
            </a>
        </li>
        <li class="sidebar-row">
            <a href="/user/verification">
             <!-- <div class="img-container">
             <img src="{% static '' %}images"> 
             </div>  -->
             <h3>verification</h3> 
            </a>
        </li>

       </ul>
     </li>
   </ul>
 </div>
</section>         
{% endblock active_nav %}

{% block content %}
    <main class="main general-main">
    <section class="close">

      </section>
    <!-- This Page shares a common a style with other pages
      SO  the use of "settings-grid" as prefix -->
      <section class="settings-grid">
        <div class="right-grid">
            <h2>General</h2>
            <div class="profile-wrapper active">
                <div class="img-container">
                    <img src="{% static 'images/profile-avatar.svg' %}" alt="profile icon">
                </div>
                 <div>
                    <h4>Profile</h4>
                    <p>User ID:{{ profile.id }}</p>
                 </div>
            </div>

        </div>

        <div class="left-grid">
            <h3>Profile</h3>
            <div class="profile-update">
                <div class="avatar-icon">
                    <img src="{% static 'images/avatar-plus.svg' %}" alt="update icon">
                </div>
                <div class="form-container">
                    {% if profile %}
                    <form method="POST" action="/user/general/update" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-field">
                            <input type="text" placeholder="First Name" name="first_name" required value="{{profile.first_name}}" />
                        </div>
                        <div class="form-field">
                            <input type="text" placeholder="Last Name" name="last_name" required value="{{profile.last_name}}"/>
                        </div>
                        <!-- <input type="text" placeholder="Referred By" name="referred_by" required value="None"/> -->
                       
                        
                        <div>
                            <input type="file" name="image" id="" required>
                        </div>
                        <button type="submit">Update</button>
                    </form>
                    {% else %}
                    <form method="POST" action="/user/general" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-field">
                            <input type="text" placeholder="First Name" name="first_name" required value="{{profile.first_name}}" />
                        </div>
                        <div class="form-field">
                            <input type="text" placeholder="Last Name" name="last_name" required value="{{profile.last_name}}"/>
                        </div>
                        
                        <div class="form-field">
                            <input type="text" placeholder="Referred By" name="referred_by" required value=""/>
                        </div>
                       
                        
                        
                        <div>
                            <input type="file" name="image" id="" required>
                        </div>
                        <button type="submit">Update</button>
                    </form>
                    {% endif %}
                    
                    
                </div>
            </div>
        </div>
      </section>

        

     

      
    </main>
    <!-- ==============END OF MAIN============== -->

 </div>
 <!-- =============END OF GRID CONTAINER -->
  
     

</div>

    



{% endblock content %}