  {% extends 'basefiles/users_base.html' %}{% load static %}
  {% block active_nav %}
<section class="sidebar">
    <div class="middle">
       <ul class="sidebar-middle">
        <li class="sidebar-row">
            <a href="/user/">
             <div class="img-container">
             <img src="{% static 'images/dashboard-icon3.svg' %}" alt="dashboard icon"> 
             </div> 
             <h3>dashboard</h3> 
            </a>
        </li>
        <li class="sidebar-row dropdown-li">
            <a href="#">
             <div class="img-container">
             <img src="{% static 'images/trade-icon.svg' %}" alt="trade icon"> 
             </div> 
             <h3>trade</h3> 
            </a>
            <ul class="dropdown-ul">
            <li class="sidebar-row">
            <a href="/user/spotTrading" class="active-dashboard">
             <h3>spot trading</h3> 
            </a>
           </li>
           <li class="sidebar-row">
            <a  href="/user/contractTrading">
             <h3>contract trading</h3> 
            </a>
          </li>
      </ul>
     </li>
     <li class="sidebar-row">
            <a href="#">
             <div class="img-container">
             <img src="{% static 'images/exchange-icon.svg' %}" alt="exchange icon"> 
             </div> 
             <h3>exchange</h3> 
            </a>
        </li>
       <li class="sidebar-row">
            <a href="/user/mywallet">
             <div class="img-container">
             <img src="{% static 'images/wallet-icon.svg' %}" alt="wallet icon"> 
             </div> 
             <h3>my wallet</h3> 
            </a>
        </li>

    </ul> 
    </div>

    <div class="bottom">
      <ul class="sidebar-bottom">
        <li class="sidebar-row">
            <a href="#">
             <div class="img-container">
             <img src="{% static 'images/get-help-icon.svg' %}" alt="get help icon"> 
             </div> 
             <h3>get help</h3> 
            </a>
        </li>
        <li class="sidebar-row dropdown-li">
            <a href="#">
             <div class="img-container">
             <img src="{% static 'images/setting-icon2.svg' %}" alt="setting icon"> 
             </div> 
             <h3>settings</h3> 
            </a>
            <ul class="dropdown-ul">
             <li class="sidebar-row">
            <a href="/user/general">
             <!-- <div class="img-container">
             <img src="{% static '' %}images"> 
             </div>  -->
             <h3>general</h3> 
            </a>
         </li>
         <li class="sidebar-row">
            <a href="/user/security">
             <!-- <div class="img-container">
             <img src="{% static '' %}images"> 
             </div> --> 
             <h3>security</h3> 
            </a>
        </li>
        <li class="sidebar-row">
            <a href="/user/verification">
             <!-- <div class="img-container">
             <img src="{% static '' %}images"> 
             </div>  -->
             <h3>verification</h3> 
            </a>
        </li>

       </ul>
     </li>
   </ul>
 </div>
</section>         
{% endblock active_nav %}
  
  {% block content %}
  <!-- The grid container || wrapper -->

    <main class="main spottrading-main">
    <section class="close">

      </section>
      
      <section class="main-top">
        <div class="user-balance">
         <h3>Your Balance (USDT)</h3>
         <div class="flex-container">
           <figure class="flex-row">
             <div class="img-container">
               <!-- <img src="{% static 'images/sliding-wallet.svg' %}" alt="wallet"/> -->
             </div>
             <figcaption>
               <h4>Equity</h4>
               <span>245,454</span>
             </figcaption>
           </figure>
           <figure class="flex-row">
            <div class="img-container">
              <img src="{% static 'images/sliding-wallet.svg' %}" alt="wallet">
            </div>
            <figcaption>
              <h4>Available Balance</h4>
              <span>245,454</span>
            </figcaption>
          </figure>
          <figure class="flex-row">
            <div class="img-container">
              <img src="{% static 'images/trading-pnl.svg' %}" alt="trade analyser">
            </div>
            <figcaption>
              <h4>Urealized PNL</h4>
              <span>245,454</span>
            </figcaption>
          </figure>
          <figure class="flex-row">
            <div class="img-container">
              <img src="{% static 'images/open-book.svg' %}" alt="open book"/>
            </div>
            <figcaption>
              <h4>Open Position</h4>
              <span>245,454</span>
            </figcaption>
          </figure>
          <figure class="flex-row">
            <div class="img-container">
              <img src="{% static 'images/layers-active.svg' %}" alt="layers active">
            </div>
            <figcaption>
              <h4>Active Order</h4>
              <span>245,454</span>
            </figcaption>
          </figure>
         </div>
        </div>
      </section>  

     <section class="main-bottom inner-grid-1">
      <div class="chart-section">


<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div id="tradingview_526b6"></div>
  <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/NASDAQ-AAPL/" rel="noopener" target="_blank"><span class="blue-text">AAPL Chart</span></a> by TradingView</div>
  <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
  <script type="text/javascript">
  new TradingView.widget(
  {
  "autosize": true,
  "symbol": "NASDAQ:AAPL",
  "height":"100%",
  "interval": "D",
  "timezone": "Etc/UTC",
  "theme": "light",
  "style": "1",
  "locale": "en",
  "toolbar_bg": "#f1f3f6",
  "enable_publishing": false,
  "allow_symbol_change": true,
  "container_id": "tradingview_526b6"
}
  );
  </script>
</div>
<!-- TradingView Widget END -->
</div>

      <!-- END OF CANDLE TRADE CHART-->

      <div class="place-right">
        <div class="place-right-header">
          <h3>my trades</h3>
          <div class="filter-field">
            <p>filter</p>
          </div>
        </div>
        
        <div class="place-right-body">
          <div class="flex-container">
            <div class="flex-item">
              <h4>Size</h4>
              <!-- <span>(USDT)</span> -->
            </div>
            <div class="flex-item">
              <h4>Price</h4>
              <!-- <span>(BTC)</span> -->
            </div>
          </div>

          <div class="list-container">
            <ul>
              <li class="price-unit">
                <span>0.2 BTC</span>
                <span class="cyan">45564.67</span>
              </li>
              <li class="price-unit">
                <span>0.3 BTC</span>
                <span class="cyan">45564.67</span>
              </li>
              <li class="price-unit">
                <span>0.5 BTC</span>
                <span class="red">45564.67</span>
              </li>
              <li class="price-unit">
                <span>0.2 ETH</span>
                <span class="red">45564.67</span>
              </li>
              <li class="price-unit">
                <span>0.2 ETH</span>
                <span class="red">45564.67</span>
              </li>
              <li class="price-unit">
                <span>0.2 ETH</span>
                <span class="cyan">45564.67</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      
     </section>

     <section class="main-bottom inner-grid-2">
       <div class="place-left">
        <div class="place-left-header">
          <ul>
            <li><a href="#">Limit</a></li>
            <li><a href="#">Market</a></li>
            <li><a href="#">Price</a></li>
            <li><a href="#">Avg.Price</a></li>
            <li><a href="#">Prev.Price</a></li>
          </ul>
        </div>
        <div class="place-left-body">
          <div class="left-trade-box">
            <div>
              <input class="increase_decrease" type="number" id="number"/>
            </div>
            <div>
              <input type="number" placeholder="Amount"/>
            </div>
            <div class="percentage-selection">
             <span>25%</span>
             <span>50%</span>
             <span>75%</span>
             <span>100%</span>
            </div>
            <div class="view">
              <input type="text" id="view-exchange"/>
            </div>
            <div>
              <button type="menu">Trade</button>
            </div>
          </div>

          <div class="left-trade-box">
            <div>
              <input class="increase_decrease" type="number" id="number"/>
            </div>
            <div>
              <input type="number" placeholder="Amount"/>
            </div>
            <div class="percentage-selection">
             <span>25%</span>
             <span>50%</span>
             <span>75%</span>
             <span>100%</span>
            </div>
            <div class="view">
              <input type="text" id="view-exchange"/>
            </div>
            <div>
              <button type="menu">Trade</button>
            </div>
          </div>
        </div>
       </div>
       <!-- ===================PLACE -LEFT  END=================== -->

       <div class="place-right">
        <div class="place-right-header">
          <h3>order book</h3>
          <div class="filter-field">
            <p>filter</p>
          </div>
        </div>
        
        <div class="place-right-body">
          <div class="flex-container">
            <div class="flex-item">
              <h4>Price</h4>
              <span>(USDT)</span>
            </div>
            <div class="flex-item">
              <h4>Unit</h4>
              <span>(BTC)</span>
            </div>
          </div>

          <div class="list-container">
            <ul>
              <li class="price-unit">
                <span class="cyan">45564.67</span>
                <span>0.2 BTC</span>
              </li>
              <li class="price-unit">
                <span class="cyan">45564.67</span>
                <span>0.3 BTC</span>
              </li>
              <li class="price-unit">
                <span class="red">45564.67</span>
                <span>0.5 BTC</span>
              </li>
              <li class="price-unit">
                <span class="red">45564.67</span>
                <span>0.2 BTC</span>
              </li>
            </ul>
          </div>
        </div>
       </div>
    </section>

    </main>
    <!-- ==============END OF MAIN============== -->

 </div>
 <!-- =============END OF GRID CONTAINER -->
  
 <div class="after-grid">

 </div>
     

</div>

    



{% endblock content %}